.transform-menu {
    top: -75px;
    left: 50%;
    transform: translate(-50%, 0) scale(min(calc(1 / var(--tl-zoom)), 2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    padding: 3px;
}

.switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 10px;
}

.switch-container {
    position: relative;
    display: inline-block;
}

.switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 21px;
    background: #83BBE5;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.switch-label .switch-button {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    border: 1px solid black;
    -webkit-font-smoothing: antialiased;
}

.switch-checkbox:checked+.switch-label .switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch-label:active .switch-button {
    width: 20px;
}

.switch-text-label {
    cursor: pointer;
    user-select: none;
    font-family: "Avenir Next", sans-serif;
    line-height: inherit;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    font-weight: 500;
}

.shape-switch-menu-button {
    z-index: 8035;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0E0E0;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 3px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.shape-switch-menu-button:hover {
    background: #eeeeec;
    transform: scale(1.1);
}

.shape-switch-menu-button:active {
    background: #d4d4d4;
}

.tlui-button.tlui-button__menu--active {
    cursor: crosshair;
}

.tlui-button:not(:disabled):active::after,
.tlui-button.tlui-button__menu--active::after {
    background: hsl(0, 0%, 0%, 10%) !important;
    opacity: 1 !important;
}

.tl-color-picker-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.tl-color-picker-button:hover {
    transform: scale(1.1);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.tl-color-picker-button:active {
    transform: scale(1.2);
    box-shadow: inset 0 0 0 1px rgba(49, 130, 237);
}

.tl-color-picker-button.selected {
    box-shadow: 0 0 0 2px rgb(49, 130, 237);
}