---
---


<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
  <script src="//unpkg.com/alpinejs" defer />
</head>

<body x-data="{accounts: [], selectedAccount: '', loaded: false}"
      x-effect="fetch('/demo/accounts.json').then(r=>r.json()).then(r=>{accounts=r; loaded = true})">
<fieldset x-show="loaded">
  <legend>From</legend>
  <label for="selected-account">Account: </label>
  <select id="selected-account" x-model="selectedAccount">
    <template x-for="account in accounts">
      <option x-text="account.name" x-bind:value="account.value"></option>
    </template>
  </select>
  <div x-text="selectedAccount"></div>
</fieldset>
</body>

</html>
